<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Публикации организации</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <%= link_to "Авторы", authors_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Журналы", journals_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Статьи", articles_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
